@use "constants.scss";

.cuisines {
  
  &__title {
    @include constants.lineTitle("center");
    height: 165px;
    text-align: center;
    padding-top: 90px;

  }

  &__container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    @media screen and (max-width: constants.$device-width-mobile) {
      grid-template-columns: auto;
    }
  }
}

.cuisines-card {
  position: relative;
  height: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1440px) {
    height: 200px;
  }

  @media screen and (max-width: 1200px) {
    height: 180px;
  }

  @media screen and (max-width: constants.$device-width-laptop) {
    height: 150px;
  }

  @media screen and (max-width: constants.$device-width-tablet) {
    height: 100px;
  }

  @media screen and (max-width: constants.$device-width-mobile) {
    height: 250px;
  }

  &__recipes {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    font-weight: bold;
    color: rgb(255, 255, 255, 0.8);
    text-shadow: 0px 0px 10px black;

    @media screen and (max-width: constants.$device-width-tablet) {
      font-size: 12px;
    }

    @media screen and (max-width: constants.$device-width-mobile) {
      font-size: 16px;
    }
  }

  &__name {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 4px 0 0 0;
    text-shadow: 0px 0px 10px black;

    @media screen and (max-width: 1200px) {
      font-size: 26px;
    }

    @media screen and (max-width: constants.$device-width-laptop) {
      font-size: 18px;
    }

    @media screen and (max-width: constants.$device-width-tablet) {
      font-size: 14px;
    }

    @media screen and (max-width: constants.$device-width-mobile) {
      font-size: 24px;
    }
  }

  &__img {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
