@use "constants.scss";

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;

  &__input {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 8px 14px;
    color: white;
    transition: background-color 0.5s;

    &:focus {
      background-color: rgba(255, 255, 255, 0.2);
      outline: none;
    }
  }

  &__submit {
    margin-top: 20px !important;
    padding: 8px 14px;
    text-transform: uppercase;
    color: white;
    background-color: rgba(117, 16, 69);
    transition: background-color 0.5s;

    &:hover {
      background-color: rgb(104, 15, 61);
    }
  }

  &__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  }

  &__content {
    width: 400px;
    background: linear-gradient(0deg, rgba(167,136,112,1) 0%, rgba(55,27,73,1) 100%);
    color: white;
    padding: 40px;
    position: relative;
    text-align: center;
  }

  &__close {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.5s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    margin-top: 20px;
  }

  &__title {
    text-transform: uppercase;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.8);
  }

  &__form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    ::placeholder {
      color: rgba(255, 255, 255, 0.5);
    }

    & > :not(:first-child) {
      margin-top: 15px;
    }
  }

  &__sign-up {
    font-size: 10px;
    text-transform: uppercase;
    margin-top: 20px;
  }
}
