@use "constants.scss";

.numbers {
  width: 80%;
  margin: 0 auto;
  height: 175px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: constants.$device-width-mobile) {
    flex-direction: column;
  }

  @media screen and (max-width: constants.$device-width-tablet) {
    width: 95%;
  }

  @media screen and (max-width: constants.$device-width-mobile) {
    height: auto;
 
    & > &__item {
      margin: constants.$spacing-unit * 2 0;
    }
  }

  &__item {
    text-align: center;
    width: 100%;
  }

  &__value {
    font-size: 36px;
    font-weight: bold;

    @media screen and (max-width: constants.$device-width-laptop) {
      font-size: 28px;
    }

    @media screen and (max-width: constants.$device-width-tablet) {
      font-size: 20px;
    }
  
    @media screen and (max-width: constants.$device-width-mobile) {
      font-size: 26px;
    }
  }

  &__text {
    color: rgba(0, 0, 0, 0.5);
    margin: constants.$spacing-unit 0 0 0;
 
    @media screen and (max-width: constants.$device-width-laptop) {
      font-size: 12px;
    }
 
    @media screen and (max-width: constants.$device-width-mobile) {
      font-size: 16px;
    }
  }
}
